<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.2//EN" "http://java.sun.com/j2ee/dtds/web-app_2_2.dtd">
<web-app id="WebApp_ID">
	<display-name>Library Management</display-name>
	<servlet>
		<servlet-name>BorrowListServlet</servlet-name>
		<display-name>BorrowListServlet</display-name>
		<description></description>
		<servlet-class>controllers.BorrowListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>BorrowRequestDeleteServlet</servlet-name>
		<display-name>BorrowRequestDeleteServlet</display-name>
		<description></description>
		<servlet-class>controllers.BorrowRequestDeleteServlet</servlet-class>
	</servlet>
	 <servlet>
        <servlet-name>DeleteBookListServlet</servlet-name>
        <display-name>DeleteBookListServlet</display-name>
        <description></description>
        <servlet-class>controllers.DeleteBookListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddBookServlet</servlet-name>
        <display-name>AddBookServlet</display-name>
        <description></description>
        <servlet-class>controllers.AddBookServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>BorrowBookServlet</servlet-name>
		<display-name>BorrowBookServlet</display-name>
		<description></description>
		<servlet-class>controllers.BorrowBookServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>BookListServlet</servlet-name>
        <display-name>BookListServlet</display-name>
        <description></description>
        <servlet-class>controllers.BookListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignInServlet</servlet-name>
        <display-name>SignInServlet</display-name>
        <description></description>
        <servlet-class>controllers.SignInServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditBookListServlet</servlet-name>
        <display-name>EditBookListServlet</display-name>
        <description></description>
        <servlet-class>controllers.EditBookListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminServlet</servlet-name>
        <display-name>AdminServlet</display-name>
        <description></description>
        <servlet-class>controllers.AdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserServlet</servlet-name>
        <display-name>UserServlet</display-name>
        <description></description>
        <servlet-class>controllers.UserServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>AddMemberServlet</servlet-name>
		<display-name>AddMemberServlet</display-name>
		<description></description>
		<servlet-class>controllers.AddMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>MemberListServlet</servlet-name>
		<display-name>MemberListServlet</display-name>
		<description></description>
		<servlet-class>controllers.MemberListServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>EditMemberServlrt</servlet-name>
		<display-name>EditMemberServlrt</display-name>
		<description></description>
		<servlet-class>controllers.EditMemberServlrt</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteMemberServlet</servlet-name>
		<display-name>DeleteMemberServlet</display-name>
		<description></description>
		<servlet-class>controllers.DeleteMemberServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AutoCompliteServlet</servlet-name>
		<display-name>AutoCompliteServlet</display-name>
		<description></description>
		<servlet-class>controllers.AutoCompliteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>IndexServlet</servlet-name>
		<display-name>IndexServlet</display-name>
		<description></description>
		<servlet-class>controllers.IndexServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GuestBookListServlet</servlet-name>
		<display-name>GuestBookListServlet</display-name>
		<description></description>
		<servlet-class>controllers.GuestBookListServlet</servlet-class>
	</servlet>
	<servlet>
        <servlet-name>RequestListServlet</servlet-name>
        <display-name>RequestListServlet</display-name>
        <description></description>
        <servlet-class>controllers.RequestListServlet</servlet-class>
    </servlet>
	<servlet>
		<servlet-name>AboutServlet</servlet-name>
		<display-name>AboutServlet</display-name>
		<description></description>
		<servlet-class>controllers.AboutServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>SignoutServlet</servlet-name>
		<display-name>SignoutServlet</display-name>
		<description></description>
		<servlet-class>controllers.SignoutServlet</servlet-class>
	</servlet>
    <servlet>
        <servlet-name>AddRequestServlet</servlet-name>
        <display-name>AddRequestServlet</display-name>
        <description></description>
        <servlet-class>controllers.AddRequestServlet</servlet-class>
    </servlet>
      <servlet>
        <servlet-name>BorrowConDelServlet</servlet-name>
        <display-name>BorrowConDelServlet</display-name>
        <description></description>
        <servlet-class>controllers.BorrowConDelServlet</servlet-class>
    </servlet>
      <servlet>
      	<servlet-name>ReturnBookServlet</servlet-name>
      	<display-name>ReturnBookServlet</display-name>
      	<description></description>
      	<servlet-class>controllers.ReturnBookServlet</servlet-class>
      </servlet>
      <servlet>
      	<servlet-name>ReturnBookUserServlet</servlet-name>
      	<display-name>ReturnBookUserServlet</display-name>
      	<description></description>
      	<servlet-class>controllers.ReturnBookUserServlet</servlet-class>
      </servlet>
	<servlet-mapping>
		<servlet-name>BorrowListServlet</servlet-name>
		<url-pattern>/userBorrowList</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrowRequestDeleteServlet</servlet-name>
		<url-pattern>/userDeleteRequest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>DeleteBookListServlet</servlet-name>
        <url-pattern>/deletebooklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddBookServlet</servlet-name>
        <url-pattern>/addbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestListServlet</servlet-name>
        <url-pattern>/requestlist</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>BorrowBookServlet</servlet-name>
		<url-pattern>/borrowbook</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>BookListServlet</servlet-name>
        <url-pattern>/booklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignInServlet</servlet-name>
        <url-pattern>/signin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditBookListServlet</servlet-name>
        <url-pattern>/editbooklist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminServlet</servlet-name>
        <url-pattern>/admin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserServlet</servlet-name>
        <url-pattern>/user</url-pattern>
    </servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddMemberServlet</servlet-name>
		<url-pattern>/addmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MemberListServlet</servlet-name>
		<url-pattern>/memberlist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EditMemberServlrt</servlet-name>
		<url-pattern>/editmember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteMemberServlet</servlet-name>
		<url-pattern>/deletemember</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AutoCompliteServlet</servlet-name>
		<url-pattern>/autocom</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/home</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>IndexServlet</servlet-name>
		<url-pattern>/guest</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GuestBookListServlet</servlet-name>
		<url-pattern>/guestbooklist</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AboutServlet</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>SignoutServlet</servlet-name>
		<url-pattern>/signout</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
        <servlet-name>BorrowConDelServlet</servlet-name>
        <url-pattern>/adminConDelReq</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddRequestServlet</servlet-name>
        <url-pattern>/addrequest</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ReturnBookServlet</servlet-name>
    	<url-pattern>/returnbook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
    	<servlet-name>ReturnBookUserServlet</servlet-name>
    	<url-pattern>/returnbookuser</url-pattern>
    </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
